*{
	box-sizing: border-box;
}

body {
	background-color: #212529;
}

#site-main {
	
}

.calendar-door {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	text-align: center;
	line-height: 100px;
	float: left;
	margin: 10px;
	background-color: white;
	background-size: contain;
}

.door-number {
	margin: 0;
}

#calendar-container {
	width: 600px;
	margin: 50px auto;
}

#calendar-header {
	width: 600px;
	margin: 50px auto;
	background-color: white;
	color: orange;
	text-align: center;
	padding: 5px;
}
#calendar-body {
	width: 600px;
	background-color: #DC7D1D;
	overflow: auto;
}